body{
}
header{
  display: flex;  
  background-color: gray;
  color: white;
  justify-content: space-between
}

header img{
  width: 20%;
}

h1{
  position: relative;
  margin: auto;
  border: 2px solid black;
  padding-bottom: 2px;
  right: 20em;
}

nav a{
  position: relative;
  margin-right: 3em;
  margin-bottom: 1em;
  top: 2em;
  text-decoration: none;
}

nav a:hover{
  text-decoration: none;
  color:blue ;
}

h2{
  display: flex;
  justify-content: center;
  font-size: larger;
  text-align: center;
  font-weight: bold;
}
table * {
  border: 1px solid black;
  padding: 2px;
  text-align: center;
}

table{
  display: block;
  /* justify-content: center;
  /* table-layout: fixed; */
  /* width: 100px; * */
}

div{
  margin: 15em;
}